<style>
    .modal-content {
        background-color: #212121;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="Modal-ItemInfo-{{ item.id }}" 
        tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                {{ item.name }}
                </h5>
            <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            </div>
            <div class="modal-body">
            {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Purchase Confirm-->
<div class="modal fade" id="Modal-PurchaseItem-{{ item.id }}" 
        tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                {{ item.name }}
                </h5>
            <button type="button" class="close" 
                    data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
            </div>
            <div class="modal-body">            
                <form action="" method="post">
                    {{ purchase_form.hidden_tag() }}
                <h4 class="text-center">
                    Are You sure You want to buy {{ item.name }} for $.{{ item.price }} ? 
                </h4>
                <br>
                <h6 class="text-center">
                    By Clicking Purchase, You'll Purchase this Item
                </h6>
                <br>
                <input type="hidden" id="purchase_item" name="purchase_item" value="{{ item.name }}">
                {{ purchase_form.submit(class="btn btn-outline-success btn-block") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>